@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #17191a !important;
  min-height: 100vh;
}
.ql-editor{
  min-height: 150px !important;
}
.MuiDataGrid-columnHeaderTitleContainer,
.MuiDataGrid-columnHeader {
  background-color: #1e2021 !important;
  color: white !important;
}
.MuiDataGrid-columnHeaderTitleContainer:hover {
  background-color: #1e2021 !important;
  color: white !important;
}
.MuiPaper-root {
  box-shadow: none !important;
}
.MuiDataGrid-row{
  /* padding-block: 20px !important; */
  /* padding-top: 50px;
  padding-bottom: 50px; */
}
.MuiDataGrid-row:hover,
.MuiDataGrid-row:active {
  background-color: #1e2021 !important;
  color: white !important;
}
.MuiDataGrid-row:active {
  background-color: #1e2021 !important;
  color: white !important;
}
.MuiDataGrid-row:focus {
  background-color: #1e2021 !important;
  color: white !important;
}
.MuiToolbar-root {
  color: #fff !important;
}
.MuiDataGrid-selectedRowCount {
  color: #fff;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #202324;
}
::-webkit-scrollbar-thumb {
  background: #454a4d;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
*::-moz-scrollbar-thumb {
  background-color: #454a4d;
}

*::-moz-scrollbar-track {
  background-color: #202324;
}

*::-moz-scrollbar-thumb:hover {
  background-color: #555;
}
